{# Tracking Macros - Friction Compass Tracking (analytics + cookie consent) #}

{% macro tracking_head() %}
{# Determine tracking domain based on site #}
{% set host = request.host if request is defined else 'friktionskompasset.dk' %}
{% if 'frictioncompass.com' in host %}
    {% set track_domain = 'track.frictioncompass.com' %}
{% else %}
    {% set track_domain = 'track.friktionskompasset.dk' %}
{% endif %}
<!-- Friction Compass Tracking (analytics + cookie consent) -->
<script src="https://{{ track_domain }}/t.js" defer></script>
{% endmacro %}

{% macro tracking_body() %}
{# No noscript needed #}
{% endmacro %}

{# Legacy macro aliases for backwards compatibility #}
{% macro gtm_head() %}
{{ tracking_head() }}
{% endmacro %}

{% macro gtm_body() %}
{{ tracking_body() }}
{% endmacro %}

{% macro cookie_consent_init() %}
{# Cookie consent handled by tracking script #}
{% endmacro %}
